<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
    <link rel = "stylesheet" href = "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@432&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <title>New Blog</title>
    <style>
         .first{
      box-shadow: 2px 2px 2px 2px #888888;
      background-color: #96a19f2c;
      padding: 30px;
      margin-top: 40px;
      margin-right:400px ;
      margin-bottom: 100px;
      height:750px;
      width: 1000px;
      font-size: medium;
      box-shadow:4px 4px 4px 4px #7d857fc4;
      /* border: 3px solid #f1f1f1; */
    }
    .mb-4{
      padding-bottom: 50px;
      font-family: 'Abril Fatface', cursive;
/* font-family: 'Anton', sans-serif; */
      letter-spacing: 2px;
      color:#2e382fd0;
      font-size: xx-large;
    }
    .form-control{
      font-size: medium;
    }
    /* body, html {
  height: 100%;
} */

    /* .bg-image{
    background-image: url("https://www.reviewadda.com/assets/uploads/article_images/Chitkara_University.jpg");
    filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  /* height: 100%;

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    }
    .upper-logo{
      height:50px;
  width:200px;
    } */ 
     .butt{
      box-shadow: 2px 2px 2px 2px #888888;
  padding:10px; 
  color:gray;
   text-decoration: no-underline;
  font-family: 'Roboto', sans-serif;
    } 
    .nav-link{
      font-size: medium;
    }
    .footer{
      font-size: medium;
    } 
  .m2{
    padding-right: 10px;
    text-align: center;
      position: relative;
      display: inline-block;
      vertical-align: top; 
      padding-left: 2%;
      padding-top: 0;
  }
  /* .m2,.mb-2{
    padding-top:30px;
  } */
 

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
  .bg-dark {
    background-color: #212529;
}

.text-white {
    color: #fff;
}

/* .p-3 {
    padding: 1rem;
} */
*, ::after, ::before {
    box-sizing: border-box;
}
header {
    display: block;
}
.upper-logo{
  height:50px;
  padding-right:60px;
  float:left;
  width:200px;
}
ul{
      text-align: center;
      position: relative;
      display: inline-block;
      vertical-align: top; 
  }
  li {
    padding-right: 20px;
    vertical-align: top;
    float: left;
  }

  .footer{
  background-color:black;
  text-align:center;
  height:70%;
  width:100%;
  margin-top: 70px;
}
.love{
  color:white;
  font-family: 'Comfortaa', cursive;
  letter-spacing:5px;
  word-spacing:5px;
  padding-top:50px;
  font-weight:bold;
  
}
.copyright{
  font-family: 'Comfortaa', cursive;
  text-align:center;
  color:#fff;
  padding-left:40px;
  padding-right:40px;
}
.logo{
  height:150px;
  padding-top:20px;
}
.upper-logo{
  height:50px;
  padding-right:60px;
  float:left;
  width:200px;
}
.last{
  color:#fff;
  padding-left:20px;
  /* height:600%; */
}
.last-div{
padding-top:30px;
padding-bottom:70px;
}
    </style>
</head>
<body>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="flex-row align-items-center justify-content-center justify-content-lg-start">
        <!-- <a href="/" class="align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="upper-logo" src="./upper-logo.png"/>
        </a> -->

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="https://chitkarahub.herokuapp.com/" class="nav-link px-2 text-white ">CUIET Clubs</a></li>
          <li><a href="/contact" class="nav-link px-2 text-white ">Contact</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 m2">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form> -->

        <!-- <div class="text-end m2">
          <button type="button" class="btn btn-outline-light" >Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div> -->
      </div>
    </div>
  </header>
    <!-- <div class="bg-image"></div> -->
    <div class="container first">
        <h1 class="mb-4">New Article</h1>

        <form action="/articles" method="POST">
            <%- include('form_fields') %>
        </form>
    </div>

    <div class="footer">
      <!-- <img class="logo" src="./logo.png"> -->
   <p class="love">Made with ♥ for Chitkarians.</p>
   <div class="last-div">
    <a href="https://www.instagram.com/chitkarau/"  class="last"><i class="fab fa-instagram fa-2x"></i></a>
  <a href="https://www.facebook.com/ChitkaraU/"  class="last"><i class="fab fa-facebook fa-2x"></i></a>
  <a href="https://twitter.com/ChitkaraU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"  class="last"><i class="fab fa-twitter fa-2x"></i></a>
  <a href="https://www.linkedin.com/school/chitkara-university/?originalSubdomain=in"  class="last"><i class="fab fa-linkedin fa-2x"></i></a>

   </div>
   <p class="copyright">Copying Content/Ideas of Chitkara Hub without express and written permission from this site’s owner is strictly prohibited. Excerpts and links may be used, provided that full and clear credit is given to Chitkara Hub with appropriate and specific direction to the original content.
  
  We are not associated with Chitkara in any way. All information provided in this website is for general information only and is not official information from the institute.
  <br><br><br>
  Copyright © 2021 Chitkara Hub Network</p>
        </div>
  </body>
</body>
</html>